{% extends 'gitpull/base.html' %}


{% block content %}
 {% comment %} <script>setTimeout(function(){window.location.href="/"},120000);</script> {% endcomment %}
 
 <div class="card" style="width:100%;margin: 0 auto;float: none;margin-bottom: 10px;"> 
        <div class="card-body">
               <ul class='nav'>
  <li style="padding:4px;text-align: right;color:purple;"><a href="/pms/dg_file"><b>Click Here To See dgjava File</a> </li>
     </ul>

            <div class="card bg-light">
                <div class="container" style="text-align: center">
<h2 style="background-color: LightGray;">SET PMS SERVER IP</h2><br>
<form action="{% url 'script' %}" method="POST" style="text-align: center; display: inline-block;">
    <h6><font color="purple">Current IP : {{var}}</font></h6> <br>  
    {% csrf_token %}
          <table>
             <tr>
                {{form.as_table}}
             </tr>
            </table>
            <div style="padding-top: 20px;"></div>
    <p><button type="submit">Change</button></p>
 </form>

</div>
</div>
</div>
</div>
<div class="card" style="width:100%;margin: 0 auto;float: none;margin-bottom: 10px;">
        <div class="card-body"> 
            <div class="card bg-light">
              <div class="container" style="text-align: center;">
    <p><b>{{msg}} {{errmsg}} {{file_content2}}<b></p>
              </div>
            </div>
            </div>
            </div>
     

<footer style="text-align:center;">
  <h6>On Behalf of Release Team</h6>
  <h6> © Digivalet</h6>
</footer>
{% endblock %}


