{% extends 'gitpull/base.html' %}


{% block content %}
 <script>setTimeout(function(){window.location.href="/"},120000);</script>
 
 <div class="card" style="width:100%;margin: 0 auto;float: none;margin-bottom: 10px;"> 
        <div class="card-body">
               <ul class='nav'>
  <li style="padding:4px;text-align: right;color:purple;"><a href="/pms/dg_file">Click Here To See dgjava File</a> </li>
     </ul>

            <div class="card bg-light">
                <div class="container" style="text-align: center">
<h2 style="background-color: LightGray;">SET PMS SERVER IP</h2><br>
<form action="{% url 'script' %}" method="POST">
    <h6><font color="purple">Current IP : {{var}}</font></h6> <br>  
    {% csrf_token %}
    {{ form.as_p }}
    <p><button type="submit">Change</button></p>
 </form>

</div>
</div>
</div>
</div>
<div class="card" style="width:100%;margin: 0 auto;float: none;margin-bottom: 10px;">
        <div class="card-body"> 
            <div class="card bg-light">
              <div class="container" style="text-align: center;">
    <p><b>{{msg}} {{errmsg}} {{file_content2}}<b></p>
              </div>
            </div>
            </div>
            </div>
      </div>

          
 <footer style="text-align:center;">
  <p>On Behalf of Release Team</p>
  <p>Digivalet</p>
</footer>
{% endblock %}


