{% extends 'gitpull/base.html' %}


{% block content %}
      <div class="jumbotron">
        <h1 style="display:inline;"> Digiutils : </h1>
        <h3 style="display:inline;"> Tools For Configurations Management !! </h3>


        <hr style="clear:both;" />
        <h1 class="display-4">

          <hr class="my-4">
          {% if request.user.is_authenticated %}
                    <h5 style="color:#800000;">Current User is : {{ user.username }}</h5>
{% endif %}
      </div>
      
 <footer style="text-align:center;">
  <p>On Behalf of Release Team</p>
  <p>Digivalet</p>
</footer>

{% endblock %}



