{% extends 'gitpull/base.html' %}


{% block content %}

{% load static i18n %} 

 {% comment %} <script>setTimeout(function(){window.location.href="/delete"},120000);</script> {% endcomment %}
      <div class="jumbotron">
  <img style="width:49%;height:170px;opacity: 0.8;" src={% static '/images/logo.png' %}>  <br><br>
        <h1 style="display:inline;"> Digiutils : </h1>
        <h3 style="display:inline;"> Tools For Configurations Management !! </h3>


        <hr style="clear:both;" />
        <h1 class="display-4">

          <hr class="my-4">
          {% if request.user.is_authenticated %}
                    <h5 style="color:#800000;">Current User is : {{ user.username }}</h5>
{% endif %}
      </div>
      
  <footer style="text-align:center;">
  <h6>On Behalf of Release Team</h6>
  <h6> © Digivalet</h6>
</footer>

{% endblock %}



